= form_for @assignment do |f|
  %fieldset
    %legend Information
    = f.label :title
    = f.text_field :title, placeholder:"Title..."
    = f.label :description
    = f.text_area :description, rows:2, placeholder: "Description..."
  %fieldset
    %legend Content
    = f.text_area :content, rows:20, data:{provide:'markdown'}, placeholder:"Content..."
  .row.clearfix
    = f.submit 'Save', class:"button radius right"
    = link_to 'Cancel', assignments_path, class:"button radius right"
  
