= form_for @user, :url => profile_path, :html => { multipart: true } do |f|
  .row
    = f.label :avatar
    = f.file_field :avatar
  .row
    = f.label :username
    = f.text_field :handle
  .row
    = f.label :'about me'
    = f.text_area :blurb, rows:2
  .row.clearfix
    = f.submit 'Save', class:"button round right"
    = link_to 'Cancel', profile_path(@user), class:"button round right"

  
