<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "modernizr/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar" data-topbar role="navigation" >
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">__TIYWERX__</a></h1>
        </li>
        <!-- The little menu that takes over when screen gets too small -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <!-- login section -->
        <ul class="right">
          <% if user_signed_in? %>
            <li>
              <%= link_to 'logout', destroy_user_session_path, :method => :delete %>
            </li>
          <% else  %>
            <li>
              <%= link_to 'sign-in', new_user_session_path %>
            </li>
            <li>
              <%= link_to 'register', new_user_registration_path %>
            </li>
          <% end %>
        </ul>
        <!-- main navigatoin section -->
        <ul class="left">
          <li>
            <%= link_to 'Courses', courses_path %>
          </li>
          <li>
            <%= link_to 'Locations', locations_path %>
          </li>
        </ul>
      </section>
    </nav>

    <% if notice %>
      <div data-alert class="alert-box success">
        <%= notice %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
    <% if alert %>
      <div data-alert class="alert-box alert">
        <%= alert %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
      
    <%= yield %>

  </body>
</html>
